<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.example.marsphotos.READ_SICE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.example.marsphotos.WRITE_SICE"
        android:protectionLevel="normal" />

    <application
        android:usesCleartextTraffic="true"
        android:name=".MarsPhotosApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MarsPhotos"
        tools:targetApi="33">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MarsPhotos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.SNContentProvider"
            android:authorities="com.example.marsphotos.provider"
            android:exported="true"
            android:enabled="true"
            android:readPermission="com.example.marsphotos.READ_SICE"
            android:writePermission="com.example.marsphotos.WRITE_SICE"
            tools:ignore="MissingClass" />

    </application>
</manifest>